section#functions.functions
    .container
        .functions__title
            h2 Функции приложения
        .functions__index
            ul
                li
                    .icon
                        img(src="./img/ic-func-01.png")
                    .text
                        p Планирование графика приема лекарств
                li
                    .icon
                        img(src="./img/ic-func-02.png")
                    .text
                        p Уведомление врача об исполнении назначений
                li
                    .icon
                        img(src="./img/ic-func-03.png")
                    .text
                        p Ведение дневника самочувствия
                li
                    .icon
                        img(src="./img/ic-func-04.png")
                    .text
                        p Удаленное предоставление измерений врачу
                li
                    .icon
                        img(src="./img/ic-func-05.png")
                    .text
                        p Общение с врачами через встроенный мессенджер
                li
                    .icon
                        img(src="./img/ic-func-06.png")
                    .text
                        p Получение уведомлений для выполнения назначений