.functions {
    padding: 160px 0;
    background-image: linear-gradient(to bottom, rgba(14, 114, 183, 0.04) 0%, rgba(40, 43, 100, 0.04) 100%);
    clip-path: ellipse(1920px calc(100% - 50px) at 50% 100%);

    &__title {
        text-align: center;
        margin-bottom: 60px;

        h2 {
            font-size: 36px;
            font-weight: 500;
        }
    }

    &__index {

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                width: 33.3%;
                text-align: center;

                .icon {
                    width: 80px;
                    height: 80px;
                    border: 1px solid rgba(22, 175, 224, 0.25);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                    img {
                        height: 32px;
                    }
                }

                .text {
                    margin: 25px auto 0;

                    p {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                &:nth-child(1) {
                    
                    .text {
                        width: 190px;
                    }
                }

                &:nth-child(2) {
                    
                    .text {
                        width: 220px;
                    }
                }

                &:nth-child(3) {
                    
                    .text {
                        width: 150px;
                    }
                }

                &:nth-child(4) {
                    margin-top: 80px;

                    .text {
                        width: 220px;
                    }
                }

                &:nth-child(5) {
                    margin-top: 80px;

                    .text {
                        width: 250px;
                    }
                }

                &:nth-child(6) {
                    margin-top: 80px;

                    .text {
                        width: 230px;
                    }
                }
            }
        }
    }
}