section#opportunities.opportunities
    .container
        .opportunities__title
            h2 Ведите персональный дневник мониторинга здоровья
        .opportunities__index
            ul
                li
                    h4 Хранение данных
                    p Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья
                li
                    h4 Сообщение информации врачу
                    p Позвольте специалисту дистанционно следить за вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.
                li
                    h4 Напоминание о важном
                    p Получайте рекомендации, созданные специально для вас. Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.
            .opportunities__index_image
                img(src="./img/ig-mockups.png")
