section#about.about
    .container
        .about__image
                img(src="./img/ig-mockup.png")
        .about__content
            .about__content_title
                h2 Что такое «Дневник здоровья»?
            .about__content_text
                p Дневник пациента — это удобный онлайн-сервис:
            .about__content_index
                ul
                    li Вносите результаты измерений вручную или с помощью интегрированных приборов
                    li Ведите персональную медицинскую карту с историей ваших измерений 
                    li Делитесь результатами измерений со специалистами для повышения эффективности лечения
                    li Получайте рекомендации, созданные специально для вас
            .about__content_order
                .submit Оставить заявку
        .about__pulse-diagram
            img(src="./img/ig-pulse-diagram.png")