section#specialists.specialists
    .container
        .specialists__title
            h2 Специалистам
        .specialists__index
            ul
                li Дистанционный контроль состояния здоровья ваших пациентов
                li Наблюдение за динамикой изменения основных медицинских показателей 
                li Наличие алгоритмов автоматического анализа поступающей информации
                li Индивидуальная система уведомлений об изменении состояния каждого пациента
                li Дополнительный сервис коммуникации, позволяющий активно вовлекать пациента в процесс профилактики, лечения и реабилитации.
        .specialists__dashboard
            img(src="./img/ig-dashboard.png")