section#free-access.free-access
    .container
        .free-access__title
            h2 Получите бесплатный доступ к «Дневнику здоровья»
        .free-access__subtitle
            p Оставьте свою электронную почту и&nbsp;вы&nbsp;узнаете&nbsp;о&nbsp;запуске данного сервиса первым!
        .free-access__subscribe
            form(action="#" method="POST" id="fa-form")
                input(id="fa-email" name="email" type="email" placeholder="Ваш E-mail")
                button#fa-submit.fa-submit Отправить