footer#footer.footer
    .container
        .footer__row
            .footer__row_logo
                img(src="./img/logo-footer.png")
            .footer__row_nav
                ul
                    li
                        a(href="#about" class="smooth-scroll") О сервисе
                    li
                        a(href="#functions" class="smooth-scroll") Функции
                    li
                        a(href="#opportunities" class="smooth-scroll") Возможности
                    li
                        a(href="#specialists" class="smooth-scroll") Специалистам
                    li
                        a(href="tel:+78005004549") 88005004549
        .footer__row
            .footer__row_credits
                p
                    | Разработка сайта &nbsp;
                    a(href="") Redsoft