@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Medium.woff') format('woff'),
        url('../fonts/CeraRoundPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Regular.woff') format('woff'),
        url('../fonts/CeraRoundPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Bold.woff') format('woff'),
        url('../fonts/CeraRoundPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Round Pro';
    src: url('../fonts/CeraRoundPro-Light.woff2') format('woff2'),
        url('../fonts/CeraRoundPro-Light.woff') format('woff'),
        url('../fonts/CeraRoundPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
        url('../fonts/Geometria-Medium.woff') format('woff'),
        url('../fonts/Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
